<div id="board-container">
</div>
<%= form_tag(turns_path, method: :post,  style: "visiblity:hidden", id: "turn") do %>
  <input id="row" name="row" type="hidden" />
  <input id="column" name="column" type="hidden" />
<% end %>
<script>
  $(function () { 
    board_data = <%= JSON.generate(@board.as_json).html_safe %>;

    var board = new Board();

    board.display();
    board_data["stones"]["black"].forEach(function(coordinate) {
      board.placeStone(coordinate, new Color("black"));
    });

    board_data["stones"]["white"].forEach(function(coordinate) {
      board.placeStone(coordinate, new Color("white"));
    });
  });
</script>
