<div id="board-container">
</div>
<%= form_tag(turns_path, method: :post,  style: "visiblity:hidden", id: "turn") do %>
  <input id="row" name="row" type="hidden" />
  <input id="column" name="column" type="hidden" />
<% end %>
<script>
  $(function () { 
    board_data = <%= JSON.generate(@board.as_json).html_safe %>;
    initBoard(board_data);
  });
</script>
<% circles = {
  'black' => "\xE2\x9A\xAB",
  'white' => "\xE2\x9A\xAA"
}
empty_square = "\xE2\x97\xBB"
%>
