<% circles = {
  'black' => "\xE2\x9A\xAB",
  'white' => "\xE2\x9A\xAA"
}
empty_square = "\xE2\x97\xBB"
%>
<div>
  Next turn: <%= @next_color %>
</div>

<div>
  <%= render 'board' %>
</div>

<div>
  <%= link_to "Pass turn", turns_path, method: :post %>
</div>

<div>
  <%= link_to "New game", '/turn', method: :delete %>
</div>
